* {
  box-sizing: border-box;
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: var(--color-brand-dark);
    background-color: var(--color-neutral-50);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-white);
    font-family: "Montserrat", sans-serif;
  }

  button:hover {
    border-color: var(--color-brand-green);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: var(--color-brand-dark);
      background-color: var(--color-white);
    }
    a:hover {
      color: var(--color-brand-green);
    }
    button {
      background-color: var(--color-neutral-50);
    }
  }
}
