#Configurações do Spring
spring:
  config:
    import: optional:file:../.env[.properties]
  mail:
    host: 
    port: 
    username: 
    password: 
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate 
    show-sql: true
    properties:
      hibernate:
        '[format_sql]': true

  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration 
    enabled: true

server:
  port: ${SERVER_PORT} 