# ===================================================================
# Este arquivo serve como um template para os outros desenvolvedores.
# Cada um deve criar seu próprio 'application.yml' a partir deste.
# ===================================================================

# Configurações principais da aplicação
spring:
  config:
    import: 
      - optional:file:.env[.properties]
  application:
    name: ceasa-digital-api
  

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  
  # Configuração do JPA (aplicada a todos os profiles)
  jpa:
    open-in-view: false